In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\Inito\Downloads\New_sentiment Analysis\test (2).csv")

In [3]:
df

          textID                                               text sentiment
0     f87dea47db  Last session of the day  http://twitpic.com/67ezh   neutral
1     96d74cb729   Shanghai is also really exciting (precisely -...  positive
2     eee518ae67  Recession hit Veronique Branquinho, she has to...  negative
3     01082688c6                                        happy bday!  positive
4     33987a8ee5             http://twitpic.com/4w75p - I like it!!  positive
...          ...                                                ...       ...
3529  e5f0e6ef4b  its at 3 am, im very tired but i can`t sleep  ...  negative
3530  416863ce47  All alone in this old house again.  Thanks for...  positive
3531  6332da480c   I know what you mean. My little dog is sinkin...  negative
3532  df1baec676  _sutra what is your next youtube video gonna b...  positive
3533  469e15c5a8   http://twitpic.com/4woj2 - omgssh  ang cute n...  positive

[3534 rows x 3 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3534 entries, 0 to 3533
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   textID     3534 non-null   object
 1   text       3534 non-null   object
 2   sentiment  3534 non-null   object
dtypes: object(3)
memory usage: 83.0+ KB

In [5]:
df.isnull().sum()

textID       0
text         0
sentiment    0
dtype: int64

In [6]:
# Check for duplicate rows
duplicates = df[df.duplicated()]

print(duplicates)

Empty DataFrame
Columns: [textID, text, sentiment]
Index: []

In [7]:
df['text'] = df['text'].astype("string")

In [9]:
df['sentiment'] = df['sentiment'].astype("string")

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3534 entries, 0 to 3533
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   textID     3534 non-null   object
 1   text       3534 non-null   string
 2   sentiment  3534 non-null   string
dtypes: object(1), string(2)
memory usage: 83.0+ KB

In [11]:
from transformers import AutoModelForSequenceClassification, AutoTokenizer, pipeline

# Load the model and tokenizer
model_name = "cardiffnlp/twitter-roberta-base-sentiment"
tokenizer = AutoTokenizer.from_pretrained(model_name)
model = AutoModelForSequenceClassification.from_pretrained(model_name)

In [12]:
# Create sentiment analysis pipeline
sentiment_pipeline = pipeline("sentiment-analysis", model=model, tokenizer=tokenizer)

Device set to use cpu

In [13]:
# Apply sentiment analysis with truncation
df[['new_sentiment', 'score']] = df['text'].apply(
    lambda x: pd.Series(sentiment_pipeline(x)[0])  # Extracts label & score
)

In [14]:
df

,textID,text,sentiment,new_sentiment,score
0,f87dea47db,Last session of the day http://twitpic.com/67ezh,neutral,LABEL_1,0.903895
1,96d74cb729,Shanghai is also really exciting (precisely -...,positive,LABEL_2,0.985646
2,eee518ae67,"Recession hit Veronique Branquinho, she has to...",negative,LABEL_0,0.908455
3,01082688c6,happy bday!,positive,LABEL_2,0.983983
4,33987a8ee5,http://twitpic.com/4w75p - I like it!!,positive,LABEL_2,0.984880
...,...,...,...,...,...
3529,e5f0e6ef4b,"its at 3 am, im very tired but i can`t sleep ...",negative,LABEL_0,0.481048
3530,416863ce47,All alone in this old house again. Thanks for...,positive,LABEL_2,0.867322
3531,6332da480c,I know what you mean. My little dog is sinkin...,negative,LABEL_0,0.715462
3532,df1baec676,_sutra what is your next youtube video gonna b...,positive,LABEL_2,0.988500
3533,469e15c5a8,http://twitpic.com/4woj2 - omgssh ang cute n...,positive,LABEL_2,0.927034

In [15]:
label_mapping = {
    'LABEL_0': 'negative',
    'LABEL_1': 'neutral',
    'LABEL_2': 'positive'
}

df['new_sentiment'] = df['new_sentiment'].map(label_mapping)

In [16]:
df

,textID,text,sentiment,new_sentiment,score
0,f87dea47db,Last session of the day http://twitpic.com/67ezh,neutral,neutral,0.903895
1,96d74cb729,Shanghai is also really exciting (precisely -...,positive,positive,0.985646
2,eee518ae67,"Recession hit Veronique Branquinho, she has to...",negative,negative,0.908455
3,01082688c6,happy bday!,positive,positive,0.983983
4,33987a8ee5,http://twitpic.com/4w75p - I like it!!,positive,positive,0.984880
...,...,...,...,...,...
3529,e5f0e6ef4b,"its at 3 am, im very tired but i can`t sleep ...",negative,negative,0.481048
3530,416863ce47,All alone in this old house again. Thanks for...,positive,positive,0.867322
3531,6332da480c,I know what you mean. My little dog is sinkin...,negative,negative,0.715462
3532,df1baec676,_sutra what is your next youtube video gonna b...,positive,positive,0.988500
3533,469e15c5a8,http://twitpic.com/4woj2 - omgssh ang cute n...,positive,positive,0.927034

In [17]:
df

,textID,text,sentiment,new_sentiment,score
0,f87dea47db,Last session of the day http://twitpic.com/67ezh,neutral,neutral,0.903895
1,96d74cb729,Shanghai is also really exciting (precisely -...,positive,positive,0.985646
2,eee518ae67,"Recession hit Veronique Branquinho, she has to...",negative,negative,0.908455
3,01082688c6,happy bday!,positive,positive,0.983983
4,33987a8ee5,http://twitpic.com/4w75p - I like it!!,positive,positive,0.984880
...,...,...,...,...,...
3529,e5f0e6ef4b,"its at 3 am, im very tired but i can`t sleep ...",negative,negative,0.481048
3530,416863ce47,All alone in this old house again. Thanks for...,positive,positive,0.867322
3531,6332da480c,I know what you mean. My little dog is sinkin...,negative,negative,0.715462
3532,df1baec676,_sutra what is your next youtube video gonna b...,positive,positive,0.988500
3533,469e15c5a8,http://twitpic.com/4woj2 - omgssh ang cute n...,positive,positive,0.927034

In [18]:
df[df['sentiment'] != df['new_sentiment']]

,textID,text,sentiment,new_sentiment,score
9,37bcad24ca,What did you get? My day is alright.. haven`...,neutral,positive,0.826859
12,69d6b5d93e,.. and you`re on twitter! Did the tavern bore...,neutral,negative,0.717434
16,9fce30159a,Miss you,negative,neutral,0.628802
19,f7718b3c23,"I`m going into a spiritual stagnentation, its ...",neutral,negative,0.742807
26,334954f215,"hey peoples, dont you just hate being grounded...",neutral,negative,0.494446
...,...,...,...,...,...
3509,72b5155719,The Killers are coming to TD Banknorth in Bost...,negative,neutral,0.517613
3515,c7be378db2,im riding the highs and lows of moods now......,neutral,negative,0.605393
3522,db783cf66a,"no school today, teacher cancelled the lesson ...",positive,neutral,0.497434
3524,e965e50c60,My hair dresser passed away yesterday from bre...,neutral,positive,0.735644
3525,b1c36b70a4,"I was supposed to go tomorrow tooooo, but hav...",neutral,negative,0.741438

out of 3534 we got 997 wrongly tagged. 
we need fine tuning.

In [19]:
train_df = pd.read_csv(r"C:\Users\Inito\Downloads\New_sentiment Analysis\train.csv")
test_df = pd.read_csv(r"C:\Users\Inito\Downloads\New_sentiment Analysis\test (2).csv")  #which is same as our original df

In [62]:
train_df.drop(columns = ['selected_text'], inplace = True)

In [63]:
train_df

           textID                                               text sentiment
0      cb774db0d1                I`d have responded, if I were going   neutral
1      549e992a42      Sooo SAD I will miss you here in San Diego!!!  negative
2      088c60f138                          my boss is bullying me...  negative
3      9642c003ef                     what interview! leave me alone  negative
4      358bd9e861   Sons of ****, why couldn`t they put them on t...  negative
...           ...                                                ...       ...
27476  4eac33d1c0   wish we could come see u on Denver  husband l...  negative
27477  4f4c4fc327   I`ve wondered about rake to.  The client has ...  negative
27478  f67aae2310   Yay good for both of you. Enjoy the break - y...  positive
27479  ed167662a5                         But it was worth it  ****.  positive
27480  6f7127d9d7     All this flirting going on - The ATG smiles...   neutral

[27481 rows x 3 columns]

In [64]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27481 entries, 0 to 27480
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   textID     27481 non-null  object
 1   text       27480 non-null  string
 2   sentiment  27481 non-null  string
dtypes: object(1), string(2)
memory usage: 644.2+ KB

In [65]:
train_df['text'] = train_df['text'].astype('string')

In [66]:
train_df['sentiment'] = train_df['sentiment'].astype('string')

In [67]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27481 entries, 0 to 27480
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   textID     27481 non-null  object
 1   text       27480 non-null  string
 2   sentiment  27481 non-null  string
dtypes: object(1), string(2)
memory usage: 644.2+ KB

In [68]:
train_df.isna().sum()

textID       0
text         1
sentiment    0
dtype: int64

In [72]:
train_df.dropna(inplace =  True)

In [73]:
train_df.isnull().sum()

textID       0
text         0
sentiment    0
dtype: int64

In [74]:
test_df

          textID                                               text sentiment
0     f87dea47db  Last session of the day  http://twitpic.com/67ezh   neutral
1     96d74cb729   Shanghai is also really exciting (precisely -...  positive
2     eee518ae67  Recession hit Veronique Branquinho, she has to...  negative
3     01082688c6                                        happy bday!  positive
4     33987a8ee5             http://twitpic.com/4w75p - I like it!!  positive
...          ...                                                ...       ...
3529  e5f0e6ef4b  its at 3 am, im very tired but i can`t sleep  ...  negative
3530  416863ce47  All alone in this old house again.  Thanks for...  positive
3531  6332da480c   I know what you mean. My little dog is sinkin...  negative
3532  df1baec676  _sutra what is your next youtube video gonna b...  positive
3533  469e15c5a8   http://twitpic.com/4woj2 - omgssh  ang cute n...  positive

[3534 rows x 3 columns]

In [75]:
test_df['text'] = test_df['text'].astype('string')

In [76]:
test_df['sentiment'] = test_df['sentiment'].astype('string')

In [77]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3534 entries, 0 to 3533
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   textID     3534 non-null   object
 1   text       3534 non-null   string
 2   sentiment  3534 non-null   string
dtypes: object(1), string(2)
memory usage: 83.0+ KB

In [78]:
test_df.isna().sum()

textID       0
text         0
sentiment    0
dtype: int64

# Fine Tuning

In [79]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27480 entries, 0 to 27480
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   textID     27480 non-null  object
 1   text       27480 non-null  string
 2   sentiment  27480 non-null  string
dtypes: object(1), string(2)
memory usage: 858.8+ KB

In [80]:
train_df['sentiment'].value_counts()

sentiment
neutral     11117
positive     8582
negative     7781
Name: count, dtype: Int64

In [81]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3534 entries, 0 to 3533
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   textID     3534 non-null   object
 1   text       3534 non-null   string
 2   sentiment  3534 non-null   string
dtypes: object(1), string(2)
memory usage: 83.0+ KB

In [35]:
# ✅ Step 1: Install & Import Required Libraries

In [36]:
# Install if not already installed
!pip install transformers datasets torch accelerate

# Import necessary libraries
import torch
from transformers import AutoTokenizer, AutoModelForSequenceClassification, TrainingArguments, Trainer
from datasets import Dataset

Requirement already satisfied: transformers in c:\users\inito\anaconda3\lib\site-packages (4.49.0)
Requirement already satisfied: datasets in c:\users\inito\anaconda3\lib\site-packages (2.12.0)
Requirement already satisfied: torch in c:\users\inito\anaconda3\lib\site-packages (2.6.0)
Requirement already satisfied: accelerate in c:\users\inito\anaconda3\lib\site-packages (1.4.0)
Requirement already satisfied: filelock in c:\users\inito\anaconda3\lib\site-packages (from transformers) (3.9.0)
Requirement already satisfied: huggingface-hub<1.0,>=0.26.0 in c:\users\inito\anaconda3\lib\site-packages (from transformers) (0.27.1)
Requirement already satisfied: numpy>=1.17 in c:\users\inito\anaconda3\lib\site-packages (from transformers) (1.24.0)
Requirement already satisfied: packaging>=20.0 in c:\users\inito\anaconda3\lib\site-packages (from transformers) (24.2)
Requirement already satisfied: pyyaml>=5.1 in c:\users\inito\anaconda3\lib\site-packages (from transformers) (6.0)
Requirement already satisfied: regex!=2019.12.17 in c:\users\inito\anaconda3\lib\site-packages (from transformers) (2022.7.9)
Requirement already satisfied: requests in c:\users\inito\anaconda3\lib\site-packages (from transformers) (2.31.0)
Requirement already satisfied: tokenizers<0.22,>=0.21 in c:\users\inito\anaconda3\lib\site-packages (from transformers) (0.21.0)
Requirement already satisfied: safetensors>=0.4.1 in c:\users\inito\anaconda3\lib\site-packages (from transformers) (0.5.2)
Requirement already satisfied: tqdm>=4.27 in c:\users\inito\anaconda3\lib\site-packages (from transformers) (4.65.0)
Requirement already satisfied: pyarrow>=8.0.0 in c:\users\inito\anaconda3\lib\site-packages (from datasets) (18.1.0)
Requirement already satisfied: dill<0.3.7,>=0.3.0 in c:\users\inito\anaconda3\lib\site-packages (from datasets) (0.3.6)
Requirement already satisfied: pandas in c:\users\inito\anaconda3\lib\site-packages (from datasets) (2.2.3)
Requirement already satisfied: xxhash in c:\users\inito\anaconda3\lib\site-packages (from datasets) (2.0.2)
Requirement already satisfied: multiprocess in c:\users\inito\anaconda3\lib\site-packages (from datasets) (0.70.14)
Requirement already satisfied: fsspec>=2021.11.1 in c:\users\inito\anaconda3\lib\site-packages (from fsspec[http]>=2021.11.1->datasets) (2024.12.0)
Requirement already satisfied: aiohttp in c:\users\inito\anaconda3\lib\site-packages (from datasets) (3.8.5)
Requirement already satisfied: responses<0.19 in c:\users\inito\anaconda3\lib\site-packages (from datasets) (0.13.3)
Requirement already satisfied: typing-extensions>=4.10.0 in c:\users\inito\anaconda3\lib\site-packages (from torch) (4.12.2)
Requirement already satisfied: networkx in c:\users\inito\anaconda3\lib\site-packages (from torch) (3.1)
Requirement already satisfied: jinja2 in c:\users\inito\anaconda3\lib\site-packages (from torch) (3.1.2)
Requirement already satisfied: sympy==1.13.1 in c:\users\inito\anaconda3\lib\site-packages (from torch) (1.13.1)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in c:\users\inito\anaconda3\lib\site-packages (from sympy==1.13.1->torch) (1.3.0)
Requirement already satisfied: psutil in c:\users\inito\anaconda3\lib\site-packages (from accelerate) (5.9.0)
Requirement already satisfied: attrs>=17.3.0 in c:\users\inito\anaconda3\lib\site-packages (from aiohttp->datasets) (24.2.0)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in c:\users\inito\anaconda3\lib\site-packages (from aiohttp->datasets) (2.0.4)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\inito\anaconda3\lib\site-packages (from aiohttp->datasets) (6.0.2)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in c:\users\inito\anaconda3\lib\site-packages (from aiohttp->datasets) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\users\inito\anaconda3\lib\site-packages (from aiohttp->datasets) (1.8.1)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\inito\anaconda3\lib\site-packages (from aiohttp->datasets) (1.3.3)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\inito\anaconda3\lib\site-packages (from aiohttp->datasets) (1.2.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\inito\anaconda3\lib\site-packages (from requests->transformers) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\inito\anaconda3\lib\site-packages (from requests->transformers) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\inito\anaconda3\lib\site-packages (from requests->transformers) (2024.8.30)
Requirement already satisfied: six in c:\users\inito\anaconda3\lib\site-packages (from responses<0.19->datasets) (1.16.0)
Requirement already satisfied: colorama in c:\users\inito\anaconda3\lib\site-packages (from tqdm>=4.27->transformers) (0.4.6)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\inito\anaconda3\lib\site-packages (from jinja2->torch) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\inito\anaconda3\lib\site-packages (from pandas->datasets) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\inito\anaconda3\lib\site-packages (from pandas->datasets) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\inito\anaconda3\lib\site-packages (from pandas->datasets) (2024.2)

WARNING: Ignoring invalid distribution ~onttools (C:\Users\Inito\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~onttools (C:\Users\Inito\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~onttools (C:\Users\Inito\anaconda3\Lib\site-packages)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

WARNING:tensorflow:From C:\Users\Inito\anaconda3\Lib\site-packages\tf_keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [37]:
# ✅ Step 2: Load the Tokenizer & Model

In [82]:
# Load tokenizer and model from Hugging Face
model_name = "cardiffnlp/twitter-roberta-base-sentiment"
tokenizer = AutoTokenizer.from_pretrained(model_name)
model = AutoModelForSequenceClassification.from_pretrained(model_name, num_labels=3)

In [83]:
from sklearn.model_selection import train_test_split

train_set, val_set = train_test_split(train_df, test_size=0.2, random_state=42)

print("Training set shape:", train_set.shape)
print("Validation set shape:", val_set.shape)

Training set shape: (21984, 3)
Validation set shape: (5496, 3)

In [84]:
train_set['sentiment'].value_counts()

sentiment
neutral     8881
positive    6894
negative    6209
Name: count, dtype: Int64

In [55]:
# ✅ Step 3: Convert train_df into a Hugging Face Dataset & Tokenize

In [85]:
# Convert pandas DataFrame to Hugging Face Dataset
train_dataset = Dataset.from_pandas(train_set)
val_dataset = Dataset.from_pandas(val_set)

In [86]:
def tokenize_function(examples):
    return tokenizer(
        list(examples["text"]),  # Convert Pandas Series to a list
        padding="max_length",
        truncation=True,
        max_length=128
    )

In [87]:
print(train_set.columns)  # Ensure 'text' is in the column list

Index(['textID', 'text', 'sentiment'], dtype='object')

In [88]:
train_set = train_set.dropna(subset=["text"])
val_set = val_set.dropna(subset=["text"])

In [89]:
train_set["text"] = train_set["text"].astype(str)
val_set["text"] = val_set["text"].astype(str)

In [90]:
train_dataset = train_dataset.map(tokenize_function, batched=True)

Map:   0%|          | 0/21984 [00:00<?, ? examples/s]

In [91]:
val_dataset = val_dataset.map(tokenize_function, batched=True)

Map:   0%|          | 0/5496 [00:00<?, ? examples/s]

In [ ]:
# ✅ Step 4: Convert Sentiment Labels to Numeric Values

In [92]:
train_set['sentiment'].unique()

<StringArray>
['positive', 'neutral', 'negative']
Length: 3, dtype: string

In [93]:
label_mapping = {"negative": 0, "neutral": 1, "positive": 2}

# Apply label mapping
train_dataset = train_dataset.map(lambda x: {"labels": label_mapping[x["sentiment"]]})
val_dataset = val_dataset.map(lambda x: {"labels": label_mapping[x["sentiment"]]})

Map:   0%|          | 0/21984 [00:00<?, ? examples/s]

Map:   0%|          | 0/5496 [00:00<?, ? examples/s]

In [ ]:
# ✅ Step 6: Set Training Arguments

In [94]:
from transformers import TrainingArguments

training_args = TrainingArguments(
    output_dir="./results",
    evaluation_strategy="epoch",
    save_strategy="epoch",
    per_device_train_batch_size=8,
    per_device_eval_batch_size=8,
    num_train_epochs=3,
    weight_decay=0.01,
    remove_unused_columns= True,  # ✅ Ensure all columns are used
    no_cuda=True  # ✅ Disable `accelerate`
)

C:\Users\Inito\anaconda3\Lib\site-packages\transformers\training_args.py:1594: FutureWarning: `evaluation_strategy` is deprecated and will be removed in version 4.46 of 🤗 Transformers. Use `eval_strategy` instead
  warnings.warn(
C:\Users\Inito\anaconda3\Lib\site-packages\transformers\training_args.py:1609: FutureWarning: using `no_cuda` is deprecated and will be removed in version 5.0 of 🤗 Transformers. Use `use_cpu` instead
  warnings.warn(

In [ ]:
# ✅ Step 7: Define Data Collator

In [95]:
from transformers import DataCollatorWithPadding

data_collator = DataCollatorWithPadding(tokenizer=tokenizer, return_tensors="pt")

In [96]:
print(train_dataset[0])  # Should include input_ids, attention_mask

{'textID': '306d7b314b', 'text': ' Oh, he`s hilarious. I`m just commenting on the fact that he`s there so much.', 'sentiment': 'positive', '__index_level_0__': 21209, 'input_ids': [0, 5534, 6, 37, 12905, 29, 14598, 4, 38, 12905, 119, 95, 18240, 15, 5, 754, 14, 37, 12905, 29, 89, 98, 203, 4, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'attention_mask': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 'labels': 2}

In [97]:
print(tokenizer.pad_token_id)  # Should be 0 for BERT-like models

1

In [98]:
train_dataset

Dataset({
    features: ['textID', 'text', 'sentiment', '__index_level_0__', 'input_ids', 'attention_mask', 'labels'],
    num_rows: 21984
})

In [ ]:
# from sklearn.model_selection import train_test_split

# # Split train_df into train and validation sets (90% train, 10% validation)
# train_texts, val_texts, train_labels, val_labels = train_test_split(
#     train_df["text"].tolist(), train_df["sentiment"].tolist(), test_size=0.1, random_state=42
# )

# # Convert into Hugging Face dataset format
# train_dataset = Dataset.from_dict({"text": train_texts, "sentiment": train_labels})
# val_dataset = Dataset.from_dict({"text": val_texts, "sentiment": val_labels})

In [ ]:
# ✅ Step 7: Define Data Collator

In [99]:
trainer = Trainer(
    model=model,
    args=training_args,
    train_dataset=train_dataset,
    eval_dataset= val_dataset,
    data_collator=data_collator,
#     tokenizer=tokenizer  # FutureWarning, but still works for now
)

[2025-03-10 22:05:50,028] [WARNING] [real_accelerator.py:181:get_accelerator] Setting accelerator to CPU. If you have GPU or other accelerator, we were unable to detect it.
[2025-03-10 22:05:50,036] [INFO] [real_accelerator.py:222:get_accelerator] Setting ds_accelerator to cpu (auto detect)

W0310 22:05:53.326000 20280 anaconda3\Lib\site-packages\torch\distributed\elastic\multiprocessing\redirects.py:29] NOTE: Redirects are currently not supported in Windows or MacOs.

In [100]:
trainer.train()

TrainOutput(global_step=8244, training_loss=0.45168697666277413, metrics={'train_runtime': 50715.0042, 'train_samples_per_second': 1.3, 'train_steps_per_second': 0.163, 'total_flos': 4338214031499264.0, 'train_loss': 0.45168697666277413, 'epoch': 3.0})

In [ ]:
# training loss decreased by validation loss increased. model is overfitting

In [ ]:
test_results = trainer.evaluate(test_dataset)
print(test_results)

In [112]:
test_df.isnull().sum()

textID       0
text         0
sentiment    0
dtype: int64

In [113]:
import torch
from datasets import Dataset
import numpy as np
from transformers import Trainer

# Ensure test_df is clean
test_df = test_df.dropna(subset=["text"])
test_df["text"] = test_df["text"].astype(str)

In [114]:
# Convert to Hugging Face Dataset
test_dataset = Dataset.from_pandas(test_df)

# Tokenize test dataset
test_dataset = test_dataset.map(tokenize_function, batched=True)

Map:   0%|          | 0/3534 [00:00<?, ? examples/s]

In [115]:
# Make predictions
predictions = trainer.predict(test_dataset)

# Convert logits to class labels
logits = predictions.predictions
predicted_labels = np.argmax(logits, axis=1)

# Define label mapping (inverse of what was used during training)
label_mapping = {0: "negative", 1: "neutral", 2: "positive"}

In [116]:
# Map numerical labels back to sentiment categories
test_df["predicted_sentiment"] = [label_mapping[label] for label in predicted_labels]

# Display results
print(test_df[["text", "predicted_sentiment"]].head())

# Save to CSV if needed
test_df.to_csv("test_predictions.csv", index=False)

                                                text predicted_sentiment
0  Last session of the day  http://twitpic.com/67ezh             neutral
1   Shanghai is also really exciting (precisely -...            positive
2  Recession hit Veronique Branquinho, she has to...            negative
3                                        happy bday!            positive
4             http://twitpic.com/4w75p - I like it!!            positive

In [118]:
test_df[test_df['sentiment'] != test_df['predicted_sentiment']]

,textID,text,sentiment,predicted_sentiment
7,afa11da83f,"soooooo wish i could, but im in school and my...",negative,neutral
19,f7718b3c23,"I`m going into a spiritual stagnentation, its ...",neutral,negative
21,be634ebeb0,My dead grandpa pays more attention to me than...,negative,neutral
26,334954f215,"hey peoples, dont you just hate being grounded...",neutral,negative
28,1fa8e6ad66,look who I found just for you ---> http://t...,positive,neutral
...,...,...,...,...
3489,603a6f30be,I think Max (my cat) may really be gone,neutral,negative
3494,8798f0a924,You know who helps me almost everyday?,neutral,positive
3500,3a92bdf00a,they have nice cakes why can`t I like them? ...,positive,neutral
3509,72b5155719,The Killers are coming to TD Banknorth in Bost...,negative,neutral
3522,db783cf66a,"no school today, teacher cancelled the lesson ...",positive,neutral

In [ ]:
# Got better

In [ ]:
# earlier it tagged 997 wrong out of 3534 (accuracy 72%) aand now it tagged 726 wrong (accuracy 80%) .
# ✔  accuracy improved by 8 percentage points
# ✔  error rate reduced by 27.2%